.container-nav {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #e8e0e0;
}

.container-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #4a2cb9;
}

.logo {
  font-size: 2rem;
  color: #4a2cb9;
  margin-right: .5rem;
}

.container-links {
  display: flex;
  gap: .5rem;
}

.container-links li {
  display: flex;
  justify-content: center;
  align-items: center;
}
